.hero {
  width: 100%;
  height: 345px;
  background: linear-gradient(90deg, rgba(172, 153, 141, 1) 0%, rgba(108, 90, 63, 1) 100%);


  .container {
    background-image: url(../img/hero.svg);
    background-repeat: no-repeat;
    background-position: center center;
    height: inherit;
    align-items: center;
    justify-content: center;


    .hero-button {
      background-color: var(--primary-accent);
      text-transform: uppercase;
      border: none;
      width: 128px;
      height: 48px;
      color: #fff;
      font-size: 17px;
    }
  }
}

@media screen and (max-width: 1500px) {
  .hero-container {
    max-width: 100% !important;
  }
}