.shop-sets {
  font-size: 20px;
  background: #fff;

  .container {
    padding-bottom: 2.5em;
    padding-inline: 5.5em;
    padding-top: 1.2em;

    figure {
      width: 100%;
      position: relative;

      img {
        object-fit: contain;
        max-width: 1219px;
        width: 100%;
        height: auto;
      }

      figcaption {
        background-color: #df9b7a;
        justify-content: space-between;
        height: 4.6em;
        padding-inline: 1.5em;
        align-items: center;
        position: absolute;
        bottom: 0;
        max-width: 1219px;
        width: 100%;

        p {
          font-size: 1em;
          line-height: 160%;
          text-transform: uppercase;
        }

        a {
          font-size: 0.9em;
          line-height: 160%;
        }
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .shop-sets-container {
    max-width: 100% !important;
  }
}

@media screen and (max-width: 1240px) {
  .shop-sets {
    font-size: 18px;
  }
}

@media screen and (max-width: 1060px) {
  .shop-sets {
    font-size: 16px;
  }
}

@media screen and (max-width: 830px) {
  .shop-sets {
    /* font-size: 18px; */

    .container {
      padding-inline: 3.5em;

      figure figcaption {
        height: 3.6em;
      }
    }
  }
}

@media screen and (max-width: 730px) {
  .shop-sets .container figure {
    figcaption {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
      padding-block: 10px;
      position: relative;
      bottom: 5px;
      gap: 8px;
    }
  }
}

@media screen and (max-width: 530px) {
  .shop-sets .container {
    padding-inline: 1.5em;

    figure {
      img {
        height: 250px;
        object-position: top left;
        object-fit: cover;
      }
    }
  }
}