.shop-now {
  background-color: var(--secondary);
  height: 304px;
  color: var(--light-color);
  font-size: 20px;

  .container {
    height: 100%;
    padding: 3.45rem;

    .shop-now-text {
      height: 100%;
      display: flex;
      flex-direction: column;

      p {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 18px;
        flex-grow: 0.6;
      }

      h1 {
        font-size: 33px;
        flex-grow: 1;
      }

      a {
        color: inherit;
        font-weight: 300;
        font-size: 16px;
        flex-grow: 0;
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .shop-now-container {
    max-width: 100% !important;
  }
}

@media screen and (max-width: 530px) {
  .shop-now .container .shop-now-text h1 {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 430px) {
  .shop-now .container {
    padding: 1.5rem;

    .shop-now-text h1 {
      font-size: 1.2em;
    }
  }
}